*{
	margin: 0;
	padding: 0;
	cursor: default;
}
html{
	font-family: sans-serif;
	font-size: 15px;
	background-color:#f2f3f7;
}

/*------HEADER------*/
#header{
	background-color: #157ED2;
	height: 50px;
	display: flex;
	justify-content: center;
	margin:auto;
}

#logo{
	letter-spacing: 5px;
	text-transform: uppercase;
	font-family: sans-serif;
	padding-left: 20px;
	line-height: 50px;
	font-weight: 800;
	font-size: 28px;
	position: unset;
	color:rgb(27, 27, 27);
}

/*------END-HEADER------*/

/*------BEGIN-MAIN------*/

main{
	display: grid;

	grid-template-columns: 1fr;
	grid-template-columns: 1fr;

	margin:auto;
	width: 40%;
}

.login{
	position: absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
	/* border:1px solid #000; */
	padding: 25px;
	height: 200px;
	width: 200px;
	border-radius: 3px;
	background-color: #fdfdfd;
	box-shadow: 0 2px 4px #d2d2d2;

	display: grid;
	grid-template-rows: 20% 60% 20%;

	/* padding:5px; */

}

.contain{
	display: grid;

	grid-template-columns: 1fr;

}

.login .title{
	/* text-transform: uppercase; */
	/* padding: 10px; */
	font-weight: 700;
	color:rgb(27, 27, 27);
	font-size: 18px;
	text-align: center;
	
}

.login .submit{
	border:1px solid #157ED2;
	background-color: #157ED2;
	color: #fff;


	border-radius: 5px;
	padding:2px;
	margin:10px;

	text-align: center;
}

input{
	border:none;
	border-bottom: 1px solid #424242 ;
	background-color: #fdfdfd ;
	/* margin-bottom:5px; */
	padding-bottom: 2px;
}

.pass-contain{
	/* display: grid;

	grid-template-rows: 1fr 1fr; */
	margin-left: 20px;
	margin-right: 20px;

}

.email-contain{
	/* display: grid;

	grid-template-rows: 1fr 1fr; */

	margin-left: 20px;
	margin-right: 20px;
}	

label {
	align-content: center;
}